* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
  list-style: none;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
@import "./header.scss";
@import "./main.scss";
